//---------------------------------------------------------------------------
//
// Name:        ProyectoLauraApp.rc
// Author:      user
// Created:     3/03/2020 11:16:56 a. m.
// Description: 
//
//---------------------------------------------------------------------------

#ifdef _WIN64
#define WX_CPU_AMD64
#endif

#include <wx/msw/wx.rc>
